################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01.Web API/.vs
/02.Web API/.vs/SwiggyRelated.slnx
